# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.pytest_cache/
.coverage
htmlcov/

# uv
# .python-version is often committed to pin the version for the team

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# output
output
